@inherits LayoutComponentBase

<div class="sidebar">
    <nav class="nav">
        <ul>
            <li><NavLink href="/" Match="NavLinkMatch.All">Home</NavLink></li>
            <li><NavLink href="/Login">Login</NavLink></li>
            <li><NavLink href="/Receptionist/NewPatientRegistration">New Patient Registration</NavLink></li>
            <li><NavLink href="/Doctor/Dashboard">Doctor Dashboard</NavLink></li>
            <li><NavLink href="/Admin/ManageClinics">Manage Clinics</NavLink></li>
            <li><NavLink href="/Admin/ManageUsers">Manage Users</NavLink></li>
        </ul>
    </nav>
</div>